
<div class="container" style="align-content: center;">
    <!-- <h1 style="text-align: center;">{{this.title}}</h1><br/> -->
    <h3 style="text-align: center;">{{this.titleOne}}</h3>
    <form #userRegistry="ngForm" class="form-group row" (ngSubmit)="this.onSubmit(userRegistry.value)" >
      <div class="form-group col-md-3 visually-hidden">
        <input type="text" class="form-control" name="id" [(ngModel)]="this.tmpId"/>
      </div>
      <div class="form-group col-md-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="name" [(ngModel)]="this.tmpName"/>
      </div>
      <div class="form-group col-md-3">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" name="surname" placeholder="surname" [(ngModel)]="this.tmpSurname"/>
      </div>
      <div class="form-group col-md-3">
        <label for="position">Position</label>
        <input type="text" class="form-control" name="position" placeholder="position" [(ngModel)]="this.tmpPosition"/>
      </div>
      <div class="form-group col-md-3">
        <label for="salary">Salary</label>
        <input type="text" class="form-control" name="salary" placeholder="salary" [(ngModel)]="this.tmpSalary"/>
      </div>
      <div class="col mt-3" style="text-align: center;">
        <!-- <input class="btn btn-primary" type="submit" value="Submit" (click)="this.addEmployee()"> -->
          <input class="btn btn-primary" type="submit" value="{{
            !this.getIsUpdate() ? 'Submit' : 'Update'
          }}">
          &nbsp;
          <span *ngIf="this.getIsUpdate()">
            <input class="btn btn-danger" type="button" value="Delete" (click)="this.deleteEmployee()">
            &nbsp;
          </span>

        <input class="btn btn-warning" type="button" value="Clean" (click)="this.cleanAllInputs()">
      </div>
    </form>
  </div>
  <br/><br/>

<div style="text-align: center;">
    <input type="button" class="btn btn-outline-dark" value="Home" (click)="home()">
</div>
